
pre {
  background-color: #111;
  color: #bbb;
}

body {
  background-color: #111;
}

a:visited {
  color: #eee;
  text-decoration: none;
}

a:link {
  color: #eee;
  text-decoration: none;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
}

.semi-visible {
  color: #222;
}

.invisible {
  color: #111;
}

#webring {
  height: 1em;
  color: #bbb;
  filter: invert(72%) sepia(0%) saturate(13%) hue-rotate(224deg) brightness(104%) contrast(96%);
}

.footnote {
  color: #aaa !important;
}

